# Python files
Pipfile
Pipfile.lock
__pycache__/
*.py[cod]
*$py.class

# Node.js files
node_modules/

# SQLite database file
*.sqlite
*.db
dev.db
app/dev.db

# Flask
instance/
.env
.venv
dev.db

# React
build/
react-app/package-lock.json

# Logs
logs/
*.log

# Other
.DS_Store
*.DS_Store
*.swp
