[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==20.1.0"
python-dotenv = "*"
Flask = "*"
Flask-Cors = "==3.0.8"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
SQLAlchemy = "*"
Werkzeug = "*"
WTForms = "*"
Flask-Migrate = "*"
Flask-Login = "==0.5.0"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.9"
