  .splash-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

    background-image:image('https://discord.com/assets/e6d57714479874c665b36c7adee76b1d.svg') #0d1cc4 ;
    background-color: #0d1cc4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .splash-banner h1 {
    margin-bottom: 10px;
  }
  
  .splash-banner button {
    background-color: darkgrey;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
  }

  .splash-images-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 30px 0;

    position: relative;
  }

  .splash-images-container img {
    flex: 1 0 50%;
  }

  .splash-images-container img:first-child,
  .splash-images-container img:nth-child(2) {
    width: 50%;
  }



  /* .splash-images-container img:last-child {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
   */
  
  .secondary-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 0;
  }
  
  .secondary-section img {
    max-width: 100%;
    margin-bottom: 10px;
  }

  .secondary-section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
  }
  