* {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 10px 20px;
}

nav ul {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none; 
}

nav a.active {
    font-weight: bold; 
}

.navbar-logo-and-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: larger;
    font-weight: 800;
  }

.navbar-logo-and-name img{
    width: 40px;
    margin-right: 1rem;
}

.navbar-right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
}
  