#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    z-index: 9999;
  }

  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
  }

  #modal-content {
    position: absolute;
    background-color:#2C2F33;
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
    overflow-y: auto;
    height: 30%;
    width: 20%;
    z-index: 9999;
  }
