
.delete-channel h1{
    font-size: x-large;
    font-weight: 370;
    color: white;
}

.delete-channel label{
    color: white;
    font-size: small;
    font-weight: 800;
    margin: 20px;
}

.delete-channel input{
    cursor: pointer;
}

.delete-channel button{
    border-radius: 3px;
    background-color: #008334;
    border: none;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 105%;
    text-align: center;
    margin-top: 20px;
}

.create-channel{
    border-radius: 5px;
    margin-top: 30px;
    padding-top: 1px;
    padding-bottom: 50px;
    padding-left: 10px;
    height: 70%;
    position: relative;
}

.channel-form-container ul{
    color: white;
    font-weight: 400;
    font-size: small;
    text-align: center;
}

.create-channel-form h1{
    color: white;
    font-size: 30px;
    font-weight: 800;

}

.channel-form-body input{
    background-color: #23272a;
    border: none;
    border-radius: 3px;
    padding: 5px 9px 5px 5px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    border:none; 
}

.channel-form-body label{
    color: white;
    font-size: small;
    font-weight: 500;
    margin-bottom: 10px;

}

.channel-form-body button{
    border-radius: 3px;
    background-color: #008334;
    border: none;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 105%;
    text-align: center;

}
